/* light purple: C5AEA9 */
/* dark brown: #664b3d; */
/* green: 8EA366 */
/* Light peachy/pink: F29569 */
/* yellow: F6EA64 */
/* orange: EEA148 */
/* light purple: A3849B */
/* light blue C4C8D4 */
/* brown nav 6B544C */
/* beige: DEC3AF */
/* mauve: 86525E */
/* dark blue: 51649C */

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.imgs {
  display: flex;
  position: relative;
}
.highschool-hero {
  position: relative;
  background-color: #86525e;
  padding-left: 10px;
  padding-bottom: 10px;
}
.stars {
  position: absolute;
  transform: rotateX(180deg), rotateY(180deg);
  top: 0;
  height: 350px;
  right: 10px;
  width: 35%;
}

.hs-hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  background-position: center;
}

.hero-header {
  position: absolute;
  padding: 20px;
  padding-right: 70px;
  background-color: rgba(201, 180, 175, 0.9);
  color: #4c404e;
  bottom: 250px;
  right: 70px;
  font-size: 75px;
  border-radius: 5px;
}
nav {
  font-family: monospace;
  padding: 00;
}
.navbar-brand {
  color: thistle;
  padding: 2px;
}

nav a:hover {
  background-color: #a7714e;
}

#target {
  background-color: #b57f5b;
  height: auto;
  padding: 10px;
}
#cont {
  padding-top: 0;
  padding-bottom: 0;
}

.body-header {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #664b3d;
  border-bottom: #6b544c solid 2px;
}

.n-hero {
  background-color: #dec3af;
  padding: 15px;
}

h2 {
  color: #51649c;
  padding: 10px;
  border-bottom: #51649c 5px dotted;
}
