/* light purple: C5AEA9 */
/* dark brown: #664b3d; */
/* green: 8EA366 */
/* Light peachy/pink: F29569 */
/* yellow: F6EA64 */
/* orange: EEA148 */
/* light purple: A3849B */
/* light blue C4C8D4 */
/* brown nav 6B544C */
/* beige: DEC3AF */
/* mauve: 86525E */
/* periwinkle blue: 51649C */
/* dark red-orange B53F19 */

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.imgs {
  display: flex;
  position: relative;
}
.highschool-hero {
  position: relative;
  background-color: #86525e;
  padding-left: 10px;
}
.stars {
  position: absolute;
  transform: rotateX(180deg), rotateY(180deg);
  top: 0;
  height: 350px;
  right: 10px;
  width: 35%;
}

.hs-hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  background-position: center;
}

.hero-header {
  position: absolute;
  padding: 20px;
  padding-right: 70px;
  background-color: rgba(201, 180, 175, 0.9);
  color: #4c404e;
  bottom: 250px;
  right: 70px;
  font-size: 75px;
  border-radius: 5px;
}
nav {
  font-family: monospace;
  padding: 00;
}
.navbar-brand {
  color: thistle;
  padding: 2px;
}

nav a:hover {
  background-color: #a7714e;
}

#target {
  background-color: #b57f5b;
  height: auto;
  padding: 10px;
}
#cont {
  padding-top: 0;
  padding-bottom: 0;
}

.body-header {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #664b3d;
  border-bottom: #6b544c solid 2px;
}

.n-hero {
  background-color: #dec3af;
  padding: 15px;
}

h2 {
  color: #51649c;
  padding: 10px;
  border-bottom: #51649c 5px dotted;
}

#fh-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  color: #b53f19;
  background-color: rgba(181, 63, 25, 0.5);
  margin: 50px;
  border-radius: 5px;
}
.f-syd {
  height: 300px;
  border-radius: 5px;
}
.fh-content,
.s-content,
.j-content {
  display: flex;
  justify-content: space-evenly;
}

#f-list {
  font-size: 20px;
}

#f-list li {
  padding: 10px;
  color: #5d6732;
}

#fo-title {
  color: #4c404e;
  background-color: rgba(76, 64, 78, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin: 50px;
  margin-top: 10px;
}

#fo,
#so,
#jo {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
  color: #331618;
}

#so-title,
#sh-title,
#jh-title,
#jo-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin: 50px;
  margin-top: 10px;
}

#sh-title {
  color: #86525e;
  background-color: rgba(134, 82, 94, 0.4);
}

#so-title {
  color: #28664b;
  background-color: rgba(173, 214, 196, 0.6);
}

#sop-list,
#j-list {
  font-size: 20px;
}

#sop-list li {
  color: #b62f2b;
  padding: 10px;
}

#j-list li {
  color: #5d6732;
  padding: 5px;
}
.sop-syd,
.jun-syd {
  height: 300px;
  width: auto;
}

#jh-title {
  color: #bb5b4b;
  background-color: rgba(187, 91, 75, 0.4);
}

#jo-title {
  color: #2e4aaf;
  background-color: rgba(46, 74, 175, 0.4);
}
