.hs-hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  background-position: center;
}

.hero-header {
  position: absolute;
  padding: 20px;
  background-color: #c9b4af;
  color: #4c404e;
  bottom: 50px;
  right: 50px;
  font-size: 75px;
}
