body {
  margin: 0;
}
nav {
  font-family: monospace;
  padding: 00;
}
.navbar-brand {
  color: thistle;
  padding: 2px;
}

nav a:hover {
  background-color: #a7714e;
}

#target {
  background-color: #b57f5b;
  height: auto;
  padding: 10px;
}
#cont {
  padding-top: 0;
  padding-bottom: 0;
}
