/* light purple: C5AEA9 */
/* dark brown: #664b3d; */
/* green: 8EA366 */
/* Light peachy/pink: F29569 */
/* yellow: F6EA64 */
/* orange: EEA148 */
/* light purple: A3849B */
/* light blue C4C8D4 */
/* brown nav 6B544C */
/* mauve 6B544C */

#container {
  background-color: #c4c8d4;
}

nav {
  font-family: monospace;
  padding: 00;
}
.navbar-brand {
  color: thistle;
  padding: 2px;
}

nav a:hover {
  background-color: #664b3d;
}

#target {
  background-color: #6b544c;
  height: auto;
  padding: 10px;
}
#cont {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link {
  color: #a3849b;
}

.hero {
  height: 600px;
}
.hero-background {
  background: #a36d58;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: right;
}

.hero-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(207, 172, 168, 0.3);
  margin-top: 325px;
  margin-left: 50px;
  border-radius: 5px;
  padding: 10px 150px 10px 10px;
  font-weight: bold;
  position: absolute;
  color: #331618;
  font-size: 75px;
  text-align: center;
}
.container {
  display: flex;
  flex: row;
}

.name {
  padding: 10px;
}

.hero-image {
  height: 600px;
  width: auto;
  margin-left: 150px;
  border-radius: 5px;
}

.w-header {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  color: #331618;
}

.card-group {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  background-color: #a3849b;
  height: auto;
}

#fcard {
  background-color: #6b544c;
  margin: 15px;
  border-radius: 5px;
}

#lcard {
  height: auto;
  padding: 15px;
  border-radius: 10px;
}

.intro {
  padding: 10px;
}

#s-image {
  border-radius: 5px;
}
